:root {
  --primary-color: #357b70;
  --link-visited-color: #05676e;
  --link-active-color: #489c79;
  --text-color: #fff;
  --grid-background-color: #d3d3d3;
  --color-change-0: #b8d2ef;
  --color-change-50: #fcffad;
  --color-change-100: #f76414;
  --color-change2-0: #fbff99;
  --color-change2-50: #f6a522;
  --color-change2-100: #b8d2ef;
  --font-weight-header: 700;
  --max-width: 700px;
}

body {
  font-family: 'Mukta', sans-serif;
  font-weight: 400;
  font-size: 16px;

  /* Sets the font size to 16px */
  line-height: 1.6;

  /* Sets the line-height to 1.6 */
}

h1 {
  font-size: 30px;
  font-weight: 700;
}

h2 {
  font-size: 24px;
  font-weight: 700;
}

h3 {
  font-size: 18px;
  font-weight: 700;
}

a {
  color: #357b70;
}

a:visited {
  /* visited link */
  color: #05676e;
}

a:hover,
a:focus {
  /* No underlining when hovering over a link */
  text-decoration: none;
}

a:active {
  /* selected link */
  color: #489c79;
}

button {
  /* overwrites browser defaults and resets the border */
  border: none;
  display: inline-block;

  /* takes the font from the outer container */
  font-family: inherit;

  /* styles the background color, font color, and text decoration (underline, etc.) of the button */
  background-color: #357b70;
  color: #fff;
  text-decoration: none;

  /* adds spacing to the button (this will be discussed more in-depth later) */
  padding: 10px;
  border-radius: 3px;

  /* gives the button a bottom border with a width of 2px, a type of solid, and a color in RGBA format */
  border-bottom: 2px solid rgba(0, 0, 0, 0.3);
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.2s;
  -webkit-transition-property: opacity;
  transition-property: opacity;

  /* also can be combined to be transition: opacity 0.2s; */
}

.button {
  /* overwrites browser defaults and resets the border */
  border: none;
  display: inline-block;

  /* takes the font from the outer container */
  font-family: inherit;

  /* styles the background color, font color, and text decoration (underline, etc.) of the button */
  background-color: #357b70;
  color: #fff;
  text-decoration: none;

  /* adds spacing to the button (this will be discussed more in-depth later) */
  padding: 10px;
  border-radius: 3px;

  /* gives the button a bottom border with a width of 2px, a type of solid, and a color in RGBA format */
  border-bottom: 2px solid rgba(0, 0, 0, 0.3);
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.2s;
  -webkit-transition-property: opacity;
  transition-property: opacity;

  /* also can be combined to be transition: opacity 0.2s; */
}

button:hover,
button:focus,
.button:hover,
.button:focus {
  /* lets the mouse appear as a hand when hovering over the button */
  cursor: pointer;

  /* reduces the opacity of the button to 80% */
  opacity: 0.8;
}

/* .button__secondary {
  background-color: #e0b354;
  color: #2b2b2b;
} */

.navigation-list__item--active {
  text-decoration: none;
}

.profile__portrait {
  float: left;
  width: 250px;
  margin-right: 40px;
  border-radius: 50%;
}

.page-footer {
  clear: both;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  text-align: center;
}

.profile {
  max-width: 700px;
  margin: 0 auto;
}

.profile2 {
  max-width: 700px;
  text-align: center;
  margin: 0 auto;
}

.skills-list {
  /* list-style-type: none; */
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 0;
}

.skills-list_item {
  /* list-style-type: none;
  display: inline-flex;
  flex-direction: column; */
  flex: auto;

  /* padding: 0; */
}

.table {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  text-align: center;
  max-width: 700px;
  margin: 0 auto;
}

svg {
  width: 700px;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.page-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 20px;
}

#logo {
  width: 200px;
  height: 70px;
}

#contact-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  max-width: 300px;
  text-align: center;
  margin: 0 auto;
}

#grad {
  height: 100%;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(54, 65, 115, 0)), to(rgba(54, 65, 115, 1)));
  background-image: linear-gradient(rgba(54, 65, 115, 0), rgba(54, 65, 115, 1));
  background-attachment: fixed;
}

.page-header__item {
  -webkit-box-flex: 0;
  -ms-flex: 0 1 200px;
  flex: 0 1 200px;
}

.page-header__item:last-child {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  text-align: right;
}

.navigation-list {
  list-style-type: none;
}

.navigation-list li {
  display: inline-block;
  margin-left: 15px;
}

/* start grid fallback */
.grid__item {
  display: inline-block;
  width: 33%;
}

/* end grid fallback */

@supports (display: grid) {
  .grid {
    display: -ms-grid;
    display: grid;

    /* grid-template-columns: 300px 300px 300px; fractions are better than pixels - they are responsive */

    -ms-grid-columns: 1fr 20px 1fr 20px 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
    margin: 0;
  }

  .grid__item {
    background-color: #d3d3d3;
    width: auto;
    min-height: auto;
    margin: 0;
  }

  /* .grid__item:last-child {
    grid-column: 3 / 3;
    grid-row: 1 / 3;
  } */
}

@media all and (max-width: 500px) {
  .grid {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }
}

@media all and (min-width: 500px) and (max-width: 750px) {
  .grid {
    -ms-grid-columns: 1fr 20px 1fr;
    grid-template-columns: 1fr 1fr;
  }
}

@media all and (max-width: 750px) {
  .grid {
    grid-gap: 10px;
  }

  .grid__item:last-child {
    grid-column: auto / auto;
    grid-row: auto / auto;
  }

  h1 {
    font-size: 22px;
  }
}

@media all and (max-width: 375px) {
  .profile__portrait {
    float: left;
    width: 200px;
    margin-right: 40px;
    border-radius: 50%;
  }

  .profile {
    width: 50%;
    margin: 0 auto;
  }

  svg {
    width: 300px;
  }
}

@-webkit-keyframes color-change {
  0% {
    fill: #b8d2ef;
  }

  50% {
    fill: #fcffad;
  }

  100% {
    fill: #f76414;
  }
}

@keyframes color-change {
  0% {
    fill: #b8d2ef;
  }

  50% {
    fill: #fcffad;
  }

  100% {
    fill: #f76414;
  }
}

@-webkit-keyframes color-change2 {
  0% {
    fill: #fbff99;
  }

  50% {
    fill: #f6a522;
  }

  100% {
    fill: #b8d2ef;
  }
}

@keyframes color-change2 {
  0% {
    fill: #fbff99;
  }

  50% {
    fill: #f6a522;
  }

  100% {
    fill: #b8d2ef;
  }
}

.sun {
  -webkit-animation-duration: 4s;
  animation-duration: 4s;
  -webkit-animation-name: color-change;
  animation-name: color-change;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
  animation-direction: alternate;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
}

.window {
  -webkit-animation-duration: 4s;
  animation-duration: 4s;
  -webkit-animation-name: color-change2;
  animation-name: color-change2;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
  animation-direction: alternate;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
}

@-webkit-keyframes bird-move {
  from {
    -webkit-transform: translate(0, 50px);
    transform: translate(0, 50px);
  }

  to {
    -webkit-transform: translate(300px, 50px);
    transform: translate(300px, 50px);
  }
}

@keyframes bird-move {
  from {
    -webkit-transform: translate(0, 50px);
    transform: translate(0, 50px);
  }

  to {
    -webkit-transform: translate(300px, 50px);
    transform: translate(300px, 50px);
  }
}

.bird {
  -webkit-animation-duration: 5s;
  animation-duration: 5s;
  -webkit-animation-name: bird-move;
  animation-name: bird-move;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
  animation-direction: alternate;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
}