:root {
  --primary-color: #357b70;
  --link-visited-color: #05676e;
  --link-active-color: #489c79;
  --text-color: #fff;
  --grid-background-color: #d3d3d3;
  --color-change-0: #b8d2ef;
  --color-change-50: #fcffad;
  --color-change-100: #f76414;
  --color-change2-0: #fbff99;
  --color-change2-50: #f6a522;
  --color-change2-100: #b8d2ef;
  --font-weight-header: 700;
  --max-width: 700px;
}

body {
  font-family: 'Mukta', sans-serif;
  font-weight: 400;
  font-size: 16px;

  /* Sets the font size to 16px */
  line-height: 1.6;

  /* Sets the line-height to 1.6 */
}

h1 {
  font-size: 30px;
  font-weight: var(--font-weight-header);
}

h2 {
  font-size: 24px;
  font-weight: var(--font-weight-header);
}

h3 {
  font-size: 18px;
  font-weight: var(--font-weight-header);
}

a {
  color: var(--primary-color);
}

a:visited {
  /* visited link */
  color: var(--link-visited-color);
}

a:hover,
a:focus {
  /* No underlining when hovering over a link */
  text-decoration: none;
}

a:active {
  /* selected link */
  color: var(--link-active-color);
}

button,
.button {
  /* overwrites browser defaults and resets the border */
  border: none;
  display: inline-block;

  /* takes the font from the outer container */
  font-family: inherit;

  /* styles the background color, font color, and text decoration (underline, etc.) of the button */
  background-color: var(--primary-color);
  color: var(--text-color);
  text-decoration: none;

  /* adds spacing to the button (this will be discussed more in-depth later) */
  padding: 10px;
  border-radius: 3px;

  /* gives the button a bottom border with a width of 2px, a type of solid, and a color in RGBA format */
  border-bottom: 2px solid rgba(0, 0, 0, 0.3);
  transition-duration: 0.2s;
  transition-property: opacity;

  /* also can be combined to be transition: opacity 0.2s; */
}

button:hover,
button:focus,
.button:hover,
.button:focus {
  /* lets the mouse appear as a hand when hovering over the button */
  cursor: pointer;

  /* reduces the opacity of the button to 80% */
  opacity: 0.8;
}

/* .button__secondary {
  background-color: #e0b354;
  color: #2b2b2b;
} */

.navigation-list__item--active {
  text-decoration: none;
}

.profile__portrait {
  float: left;
  width: 250px;
  margin-right: 40px;
  border-radius: 50%;
}

.page-footer {
  clear: both;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.profile {
  max-width: var(--max-width);
  margin: 0 auto;
}

.profile2 {
  max-width: var(--max-width);
  margin: 0 auto;
  text-align: center;
}

.table {
  display: flex;
  flex-direction: column;
  text-align: center;
}

svg {
  width: 700px;
}

* {
  box-sizing: border-box;
}

.page-header {
  display: flex;
  padding: 20px;
}

#logo {
  width: 200px;
  height: 70px;
}

#contact-form {
  text-align: center;
}

.page-header__item {
  flex: 0 1 200px;
}

.page-header__item:last-child {
  flex-grow: 1;
  text-align: right;
}

.navigation-list {
  list-style-type: none;
}

.navigation-list li {
  display: inline-block;
  margin-left: 15px;
}

/* start grid fallback */
.grid__item {
  display: inline-block;
  width: 33%;
}

/* end grid fallback */

@supports (display: grid) {
  .grid {
    display: grid;

    /* grid-template-columns: 300px 300px 300px; fractions are better than pixels - they are responsive */

    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
    margin: 0;
  }

  .grid__item {
    background-color: var(--grid-background-color);
    width: auto;
    min-height: auto;
    margin: 0;
  }

  .grid__item:last-child {
    grid-column: 3 / 3;
    grid-row: 1 / 3;
  }
}

@media all and (max-width: 500px) {
  .grid {
    grid-template-columns: 1fr;
  }
}

@media all and (min-width: 500px) and (max-width: 750px) {
  .grid {
    grid-template-columns: 1fr 1fr;
  }
}

@media all and (max-width: 750px) {
  .grid {
    grid-gap: 10px;
  }

  .grid__item:last-child {
    grid-column: auto / auto;
    grid-row: auto / auto;
  }

  h1 {
    font-size: 22px;
  }
}

@keyframes color-change {
  0% {
    fill: var(--color-change-0);
  }

  50% {
    fill: var(--color-change-50);
  }

  100% {
    fill: var(--color-change-100);
  }
}

@keyframes color-change2 {
  0% {
    fill: var(--color-change2-0);
  }

  50% {
    fill: var(--color-change2-50);
  }

  100% {
    fill: var(--color-change2-100);
  }
}

.sun {
  animation-duration: 4s;
  animation-name: color-change;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
}

.window {
  animation-duration: 4s;
  animation-name: color-change2;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
}

@keyframes bird-move {
  from {
    transform: translate(0, 50px);
  }

  to {
    transform: translate(300px, 50px);
  }
}

.bird {
  animation-duration: 5s;
  animation-name: bird-move;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
}
